@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    margin-left:auto;
    margin-right: auto;
}

header nav {
    display: flex;
}

header nav img {
    margin: 10px;
}

.header-text {
    margin: 10px;
    flex: 33.33%;
}

.title {
    font-family: 'Yellowtail', cursive;
}

.header-text h6 {
    color: grey;
    text-transform: uppercase;
}

.header-icons ul {
    padding: 15px;
    float: right;
}

.header-icons ul li {
    list-style: none;
    text-align: end;
    float: right;
}

.header-icons ul li img {
    margin: 1px;
}

.indivdual {
    margin-left: 12px;
}

.line {
    width: 95%;
    height: 10px;
    background-color: grey;
    display: block;
    margin-top: 5px;
    margin-bottom:5px;
    margin-left: auto;
    margin-right: auto;
}

.main h1 {
    font-family: 'Anton', sans-serif;
    margin: 20px 20px 0px 20px;
}

.main h6 {
    color: grey;
    text-transform: uppercase;
    margin: 0px 20px 5px 20px;
}

.main ul {
    list-style: none;
    position: relative;
    float: right;
    bottom: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.main-image img {
    width: 95%;
    display: block;
    margin-left: 3%;
    height: 20%;
    margin-bottom: 2%;
}

.main-text {
    width: 90%;
    margin: 2%;
}

.main-text p {
    margin-left: 7%;
    padding: 15px;
    line-height: 1;
    font-family: 'Merriweather', serif;
    color: gray;
}

 .list-img {

    background-image: url("img/list-bg.png");
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 30px;
    height: 250px;

    
}


.list-img form{
    display: inline-block;
    margin-top: 40px;
    margin-left: 300px;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;

 }

.containre{
  
    display: inline-flex;
}
.image-container{

    margin: 10px 0px 10px 90px;
}
.text-container {
    width: 50%;

    margin : 20px 0px 10px 100px;
    
}
.text-container p{
    word-wrap:break-word;
    white-space: normal;
    justify-content: center;
}
.button-container button{
    background:#BC7058;
    width: 220px;
    height: 70px;
    margin: 20px 20px 20px 200px ;
    font-size: 18px;
    font-weight: bold;
    color:white;
    border: 0px solid #000;

}
.footer{
    display: block;
   text-align: center;
   margin-bottom: 30px;
   margin-top: 30px;
}
.footer p{
    color: gray;
}
